*{
    box-sizing: border-box;
}

body {direction:rtl; text-align:right;}

.jumbotron {
    background-color: blue;
    padding: 0;
    height: 15em;
}

.jumbotron .container h1 {
    text-align: center;
    font-size: 4em;
    color: white;
}

.prg {
    color: white;
    font-size: 2em;
}

.well-main1,.well-main2{
    height: 40em;
}

.img-ya{
    width:90%;
}

@media screen and (max-width:400px){
    .navb{
        padding:0;
    }
    .img-logo{
        width:65%;
    }
    .jumbotron .container h1 {
        font-size:3em;
    }
    .prg{
        font-size:1em;
        padding-right:5em;
        padding-right:3em;
        margin-top:1em;
    }
    .jumb{
        height:70%;
    }
    .cont{
        text-align: center;
    }

    .well-main1 {
        height: 20em;
    }
}


.prg-main{
    font-size: 1.4em;
}



th, .datef, .event {
    text-align:right; 
}

#dt {
    text-indent: -500px;
    height: 25px;
    width: 200px;
  }

.btn-cre{white-space: normal}

.well-event{
    height: 15em;
}