<div class="container">
  <div class="page-header">
    <h1>{{event.name}}</h1>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <form class="form-horizontal">
      <div class="form-group">
        <div class="col-xs-8 col-sm-10 col-md-12 col-lg-10" >
          <input type="text" class="form-control" id="name" placeholder="הכנס שם אירוע" ng-model="event.name">
        </div>
        <label class="control-label col-sm-2" for="name">שם אירוע:</label>
      </div>
      <div class="form-group">
        <div class="col-xs-8 col-sm-10 col-md-12 col-lg-10">
          <input type="text" class="form-control" id="location" placeholder="הכנס מיקום" ng-model="event.location">
        </div>
        <label class="control-label col-sm-2" for="location">מיקום הארוע:</label>
      </div>
      <div class="form-group">
         <div class="col-xs-8 col-sm-10 col-md-12 col-lg-10">
          <input type="text" class="form-control" id="address" placeholder="הכנס כתובת" ng-model="event.address">
        </div>
        <label class="control-label col-sm-2" for="address">כתובת:</label>
      </div>
      <div class="form-group">
        <div class="col-xs-8 col-sm-10 col-md-12 col-lg-10">
          <input type="text" class="form-control" id="city" placeholder="הכנס עיר" ng-model="event.city">
        </div>
        <label class="control-label col-sm-2" for="city">עיר:</label>
      </div>
      <!-- <div class="form-group">
        <div class="col-xs-8 col-sm-10 col-md-12 col-lg-10">
          <input type="date" class="form-control" id="fromDate" placeholder="הכנס תאריך התחלה" ng-model="event.fromDate">
        </div>
        <label class="control-label col-sm-2" for="fromDate">מתאריך:</label>
      </div>
      <div class="form-group">
        <div class="col-xs-8 col-sm-10 col-md-12 col-lg-10">
          <input type="date" class="form-control" id="fromDate" placeholder="הכנס תאריך סיום" ng-model="event.toDate">
        </div>
        <label class="control-label col-sm-2" for="fromDate">עד תאריך:</label>
      </div>  -->
      <div class="form-group">
        <div class="col-xs-8 col-sm-10 col-md-12 col-lg-10">
          <input type="text" class="form-control" id="fromDate" placeholder="הכנס יום" ng-model="event.day">
        </div>
        <label class="control-label col-sm-2" for="fromDate">יום:</label>
      </div>
      
      <!-- <div class="form-group">
        <label class="control-label col-sm-2" for="ingrediants">Ingrediants:</label>
        <div class="col-sm-10">
          <textarea class="form-control" rows="5" id="ingrediants" ng-model="event.ingrediants"></textarea>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="steps">Steps:</label>
        <div class="col-sm-10">
          <textarea class="form-control" rows="5" id="steps" ng-model="event.steps"></textarea>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="imageUrl">Image URL:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="imageUrl" placeholder="Enter image URL" ng-model="event.imageUrl">
        </div>
      </div> -->
      <div class="form-group">
        <div class="col-sm-2 col-sm-10">
          <!-- <div class="pull-right"> -->
            <button type="summit" class="btn btn-success" ng-click="create()">הוסף</button>
            <button type="summit" class="btn btn-default" ng-click="cancel()">בטל</button>
          <!-- </div> -->
        </div>
      </div>
    </form>
  </div>
</div>